.toc ul {
  list-style-type: none;
}

.toc ul > li {
  position: relative;
  margin: 5px 0;
}

.toc ul > li > a {
  display: block;
  border: 0;
  outline: 0;
  transition: none;
  font-size: 0.975rem;
  font-weight: 700;
}

.toc ul li > a:active,
.toc ul li > a:focus,
.toc ul li > a:hover {
  font-weight: 700;
  outline: 0;
  transition: none;
  text-decoration: underline;
}

.toc ul li > i {
  font-weight: 700;
  position: absolute;
  left: -20px;
  color: #0f68a3;
  font-size: 15px;
}
