.toc ul {
  list-style-type: none;
}

.toc ul > li {
  margin: 5px 0;
}

.toc ul > li > a {
  display: block;
  border: 0;
  outline: 0;
  border-bottom: 2px solid transparent;
  transition: none;
  font-size: 0.975rem;
}

.toc ul li > a:active,
.toc ul li > a:focus,
.toc ul li > a:hover {
  color: black;
  outline: 0;
  transition: none;
  border-bottom: 2px solid #6f2c3f;
}
