.footer-linkgroup {
  color: #fff;
}

.footer-linkgroup li i {
  color: #fff;
}

.footer-linkgroup li a {
  color: #fff;
  border-bottom: none;
}

.footer-linkgroup li span:hover i {
  color: #fff;
}

.footer-linkgroup li span:hover a {
  color: rgb(111, 44, 63);
  border-bottom: none;
  background: #fff;
}
